[Desktop Entry]
Version=1.1.00095
Type=Application
Name=Online Manager
GenericName=Radius Online Monitor for JunOS Broadband Subscriber Management
Comment=onlinemanager — Моніторинг активних DHCP-сесій JunOS Broadband Subscriber Management
Exec=/opt/onlinemanager/bin/onlinemanager %U
Icon=/opt/onlinemanager/lib/onlinemanager.png
Terminal=false
Categories=Utility;System;Network;
StartupNotify=true
